body {
    color: rgb(8, 59, 59);
    background-color: black;
    }
    section {
        background-color: blueviolet;
        padding-top: 100px;
        padding-bottom: 80px;
        display: flex;
        justify-content: center;
    }