body {
    color: rgb(8, 59, 59);
    background-color: black;
    }
    section {
        background-color: blueviolet;
        padding-top: 70px;
        padding-bottom: 50px;
        padding-left: 100;
        display: flex;
        justify-content: center;
    }